*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.uppercase{
    text-transform: uppercase;
}
.line-one{
    position: fixed;
    height: 100%;
    width: 15px;
    background-color: #ff3131;
    left: 23%;
}
.line-two{
    position: fixed;
    height: 100%;
    width: 25px;
    background-color: #183d79;
    left: 25%;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 35px 0;
}
nav ul{
    display: flex;
    position: relative;
    left: 12.5%;
}
nav ul li{
    margin: 10px 30px;
    text-transform: uppercase;
}
nav ul li a{
    color: #000;
    font-size: 14px;
    border-bottom:  3px solid transparent;
    transition: .6s ease;
}
nav ul li a:hover{
    border-bottom: 3px solid #ff3131;
}
.bar{
    display: none;
    position: relative;
    font-size: 25px;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    position: relative;
}
.search{
    cursor: pointer;
    position: relative;
    left: 8.5%;
    display: block;
}
.watch{
    font-size: 25px;
    position: relative;
    display: initial;
    cursor: pointer;
}
.main-img img{
    position: fixed;
    width: 570px;
    left: 9.8%;
    top: 30px;
}
.title{
    position: relative;
    bottom: 85px;
}
.header{
    position: absolute;
    top: 450px;
    left: 48%;
    line-height: .5;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -6px;
    transition: 1s ease-in-out;
}
.subheader{
    position: absolute;
    top: 400px;
    font-size: 25px;
    font-weight: 300;
    color: grey;
    left: 48%;
    letter-spacing: 10px;
    transition: 1s ease;
}
.year{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 750px;
    left: 10%;
}
.btn a{
    position: absolute;
    top: 470px;
    left: 57.5%;
    background-color: #ff3131;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s ease;
}
.btn a:hover{
    background: #000;
    color: #fff;
}
.socials{
    position: fixed;
    right: 4%;
    bottom: 7%;
}
.socials i{
    padding: 10px 10px;
    margin: 5px 0;
    transition: .5s ease;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
}
.socials i:hover{
    color: #fff;
    background-color: #000;
    box-shadow: 0 0 50px #ff3131;
}
@media (max-width:1360px){
    .main-img img{
        left: 3.5%;
        /* transition: 1s ease; */
    }
    .watch{
        left: 2%;
    }
    .search{
        left: 7.5%;
    }
    /* .line-one{
        transition: 1s ease;
    }
    .line-two{
        transition: 1s ease;
    }
    .year{
        transition: 1s ease;
    }
    .socials{
        transition: 1s ease;
    } */
}
@media (max-width:1160px){
    .main-img img{
        left: -0.5%;
        width: 550px;
    }
    .header{
        font-size: 80px;
    }
    .subheader{
        font-size: 22px;
    }
    .year{
        left: 7%;
        top: 680px;
    }
    .logo{
        left: 5%;
    }
}
@media (max-width:1000px){
    .search{
        display: none;
    }
    .watch{
        display: none;
    }
    .header{
        left: 15%;
    }
    .subheader{
        left: 55%;
        font-size: 22px;
    }
    nav{
        position: relative;
        right: 100px;
    }
    .logo{
        left: 14%;
    }
    .btn a{
        top: 440px;
    }
}
@media (max-width:850px){
    .main-img img{
        left: -5%;
        top: 100px;
        width: 500px;
    }
    .line-one{
        left: 16.5%;
    }
    .line-two{
        left: 20%;
    }
    nav ul{
        left: 15%;
    }
    nav ul li{
        margin: 10px 20px;
    }
}
@media (max-width:712px){
    .bar{
        display: block;
        left: 30%;
    }
    nav ul li{
        display: none;
    }
    .logo{
        left: 27%;
    }
    .subheader{
        left: 58%;
        letter-spacing: 4px;
    }
}
@media (max-width:540px){
    .header{
        left: 15%;
        font-size: 65px;
    }
    .subheader{
        top: 350px;
        transition: 2s ease;
        left: 52%;
        font-size: 15px;
        color: #ff3131;
        font-weight: 500;
        transform: rotateZ(90deg);
    }
    .main-img img{
        width: 430px;
        left: -10.5%;
    }
}
@media (max-width:490px){
    .subheader{
        color: #fff;
        top: 400px;
        left: 15%;
        transform: initial;
        font-size: 22px;
        font-weight: 500;
    }
    .line-one{
        left: 14%;
    }
    .line-two{
        left: 18%;
    }
    .socials{
        right: 4%;
        bottom: 30px;
    }
}
@media (max-width:430px){
    .header{
        font-size: 50px;
    }
    .main-img img{
        width: 400px;
        top: 170px;
        left: -12%;
    }
}
@media (max-width:400px){
    .main-img img{
        left: -17%;
    }
    .year{
        font-size: 25px;
        top: 750px;
    }
    .btn a{
        left: 40%;
    }
}